{
  "singleQuote": true,
  "printWidth": 150,
  "proseWrap": "always",
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "endOfLine": "lf"
}
